@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: #1a1e23;
  --background-end-rgb: #;
}

body {
  height: 100%;
  width: 100%;
  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb);
}
